@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  padding:0;
  margin:0;
  max-width: 100%;
  box-sizing: border-box;
}

body{
  background: #d9eaf2;
}